
<% title "About" %>
<% meta_tag :description, "I am a Front-End Web Developer base in Spanish Fork Utah. Contact me if you are interested in a custom site." %>
<% meta_tag :keywords, "griffin bunnell, portfolio, portfolio site, griffin bunnells portfolio site, web freelancing, griffin bunnell home" %>

<%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>

<body style="background: linear-gradient(to bottom, rgba(13,226,223,1) 0%, rgba(32,124,229,1) 25%, rgba(106,0,255,1) 100%)">

  <div class="side">

    <a href="#top"></a>
    <a href="#1"></a>
    <a href="#2"></a>
    <a href="#3"></a>

  </div>

  <%= render :partial => "pages/navbar" %>

  <div class="hero_section sub_page" id="top">

    <div class="hero_text">
      <h1 class="sub_title">About</h1>
    </div>

  </div>

  <div class="content">

    <div class="row" id="1">
      <div class="section col-left">
        <div class="text left">
          <h2>Synopsis</h2>
          <h4>Hi my name is Griffin, I'm an 18 year old freshman in college and I love Programming and Web Design. I have been doing Web Design for 2 years now, and I can't wait to continue.</h4>
        </div>
      </div>
    </div>

    <div class="row" id="2">
      <div class="section col-right">
        <div class="text right">
          <h2>Experience</h2>
          <h4>I worked at OrbSix as a Junior Front-End Developer, from August 2017 - January 2018. I worked at Boostability as a Website Designer, from January 2018 - August 2018.</h4>
        </div>
      </div>
    </div>

    <div class="row" id="3">
      <div class="section col-left">
        <div class="text left">
          <h2>Extras</h2>
          <h4>I know Photoshop, Illustrator, and IT.</h4>
        </div>
      </div>
    </div>

  </div>

      <div class="footer">
        <div><h6>Copyright &copy; 2018</h6></div>
      </div>
      </body>
