
<% title "Welcome" %>
<% meta_tag :description, "I am a Front-End Web Developer base in Spanish Fork Utah. Contact me if you are interested in a custom site." %>
<% meta_tag :keywords, "griffin bunnell, portfolio, portfolio site, griffin bunnells portfolio site, web freelancing, griffin bunnell welcome" %>
<head>
  <style>

    html {
      height: 100vh;
    }

    .content {
      background: linear-gradient(to bottom right, rgba(224, 163, 109, 1),  rgba(224,24,35,1));
      animation: fadeOut 1s linear forwards;
      animation-delay: 2s;
      margin: 0;
      height: 100vh;
    }

    .main {
        text-align: center;
        animation: bounceOutUp 1s linear forwards;
        animation-delay: 2s;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body {
      background: linear-gradient(to bottom right, rgba(88,122,190,1), rgba(224,24,35,1));
    }

  </style>
  <title>Welcome | Griffin Bunnell's Portfolio</title>
</head>
<body onload="Timer()">
  <div class="content" id="main">
    <div class="main">
      <svg width="100" height="100" viewBox="0 0 135 139"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm" fill="none" style="stroke:#fff;stroke-width:0.5mm;"><path class="path" d="M 52.801 93.102 L 53.101 91.202 Q 45.201 94.502 37.601 94.502 A 48.975 48.975 0 0 1 27.384 93.481 A 38.164 38.164 0 0 1 17.901 90.152 Q 9.401 85.802 4.701 77.802 A 33.973 33.973 0 0 1 0.373 64.959 A 43.341 43.341 0 0 1 0.001 59.202 Q 0.001 44.402 5.601 33.052 A 45.114 45.114 0 0 1 13.876 21.242 A 40.462 40.462 0 0 1 21.051 15.452 Q 30.901 9.202 43.101 9.202 Q 54.801 9.202 60.651 14.652 Q 66.501 20.102 66.501 29.102 A 26.357 26.357 0 0 1 66.247 32.88 Q 65.762 36.222 64.351 38.552 A 7.942 7.942 0 0 1 62.567 40.645 Q 60.876 42.011 58.518 42.096 A 8.771 8.771 0 0 1 58.201 42.102 A 9.155 9.155 0 0 1 56.396 41.934 Q 55.28 41.71 54.406 41.185 A 5.331 5.331 0 0 1 53.851 40.802 A 4.222 4.222 0 0 1 52.221 37.702 A 5.975 5.975 0 0 1 52.201 37.202 Q 52.201 36.202 52.601 33.802 Q 53.201 31.002 53.201 29.402 A 11.088 11.088 0 0 0 52.9 26.739 A 7.434 7.434 0 0 0 50.651 22.902 Q 48.294 20.776 42.988 20.615 A 29.317 29.317 0 0 0 42.101 20.602 Q 34.801 20.602 28.551 24.802 A 25.856 25.856 0 0 0 21.993 31.252 A 35.791 35.791 0 0 0 18.501 37.352 Q 14.701 45.702 14.701 57.402 A 35.397 35.397 0 0 0 15.406 64.69 Q 16.85 71.551 21.251 75.952 A 21.06 21.06 0 0 0 30.317 81.203 Q 33.589 82.177 37.513 82.421 A 43.409 43.409 0 0 0 40.201 82.502 A 34.348 34.348 0 0 0 49.046 81.295 A 44.478 44.478 0 0 0 54.601 79.402 L 56.001 67.202 L 45.801 67.202 A 9.314 9.314 0 0 1 44.141 67.063 Q 42.521 66.769 41.501 65.852 A 4.017 4.017 0 0 1 40.45 64.269 Q 40.001 63.097 40.001 61.402 Q 40.001 59.061 41.049 57.559 A 4.984 4.984 0 0 1 41.501 57.002 A 4.983 4.983 0 0 1 44.59 55.459 A 7.004 7.004 0 0 1 45.501 55.402 L 64.201 55.402 A 5.474 5.474 0 0 1 66.07 55.71 A 4.797 4.797 0 0 1 67.851 56.852 A 3.996 3.996 0 0 1 68.935 58.909 Q 69.108 59.736 69.026 60.744 A 8.873 8.873 0 0 1 69.001 61.002 A 61.064 61.064 0 0 1 68.839 62.487 Q 68.382 66.321 67.001 75.502 L 65.901 83.102 A 391.083 391.083 0 0 1 73.093 77.828 Q 76.507 75.388 79.618 73.293 A 232.777 232.777 0 0 1 80.501 72.702 A 7.207 7.207 0 0 1 80.616 72.632 A 72.394 72.394 0 0 1 80.203 65.084 A 91.37 91.37 0 0 1 80.201 64.502 A 120.401 120.401 0 0 1 81.158 49.72 A 158.597 158.597 0 0 1 83.401 36.452 Q 86.601 21.302 92.751 10.652 A 31.773 31.773 0 0 1 96.131 5.807 Q 101.126 0.002 107.401 0.002 A 8.472 8.472 0 0 1 113.954 2.893 A 11.377 11.377 0 0 1 114.801 3.952 Q 117.601 7.902 117.601 14.202 A 45.155 45.155 0 0 1 114.692 29.996 A 51.046 51.046 0 0 1 114.501 30.502 A 50.87 50.87 0 0 1 110.85 38.007 Q 108.138 42.635 104.201 47.502 A 15.698 15.698 0 0 1 110.698 49.363 A 15.375 15.375 0 0 1 115.101 53.052 A 21.725 21.725 0 0 1 119.533 62.135 A 27.893 27.893 0 0 1 120.101 65.502 Q 123.676 65.274 128.294 64.235 A 89.607 89.607 0 0 0 131.301 63.502 Q 131.863 63.314 132.602 63.303 A 6.252 6.252 0 0 1 132.701 63.302 A 2.055 2.055 0 0 1 134.36 64.087 A 3.16 3.16 0 0 1 134.701 64.602 A 5.429 5.429 0 0 1 135.202 65.968 Q 135.345 66.592 135.385 67.318 A 10.564 10.564 0 0 1 135.401 67.902 A 14.395 14.395 0 0 1 135.336 69.319 Q 135.188 70.813 134.701 71.752 Q 134.001 73.102 132.501 73.602 A 42.89 42.89 0 0 1 123.71 75.635 A 52.306 52.306 0 0 1 119.301 76.002 A 29.202 29.202 0 0 1 116.531 83.292 A 23.895 23.895 0 0 1 111.751 89.402 Q 106.201 94.502 99.501 94.502 Q 89.401 94.502 84.801 86.802 A 27.273 27.273 0 0 1 82.673 82.221 A 489.48 489.48 0 0 0 79.313 84.464 Q 73.576 88.327 63.901 95.002 Q 61.344 108.572 57.799 118.361 A 76.186 76.186 0 0 1 53.801 127.602 A 32.956 32.956 0 0 1 50.385 132.947 Q 48.177 135.712 45.646 137.311 A 13.86 13.86 0 0 1 38.101 139.502 A 13.461 13.461 0 0 1 34.271 138.982 A 10.533 10.533 0 0 1 29.801 136.352 A 10.575 10.575 0 0 1 26.713 129.946 A 14.662 14.662 0 0 1 26.601 128.102 A 22.583 22.583 0 0 1 27.782 120.996 A 27.337 27.337 0 0 1 28.701 118.602 A 26.39 26.39 0 0 1 30.576 115.125 Q 32.778 111.636 36.551 107.502 A 82.507 82.507 0 0 1 41.065 102.958 Q 43.488 100.688 46.422 98.224 A 197.758 197.758 0 0 1 52.801 93.102 Z M 105.101 9.902 A 1.864 1.864 0 0 0 103.948 10.373 Q 102.711 11.359 101.352 14.415 A 36.878 36.878 0 0 0 100.751 15.852 A 56.773 56.773 0 0 0 99.316 19.986 Q 97.875 24.667 96.579 31.106 A 181.237 181.237 0 0 0 96.401 32.002 A 183.497 183.497 0 0 0 94.467 44.078 A 231.58 231.58 0 0 0 93.401 54.302 A 337.207 337.207 0 0 0 97.978 45.628 Q 100.168 41.319 101.954 37.444 A 174.023 174.023 0 0 0 103.951 32.952 A 59.056 59.056 0 0 0 106.339 26.369 Q 107.315 23.032 107.681 20.012 A 29.169 29.169 0 0 0 107.901 16.502 Q 107.901 13.539 107.258 11.862 A 5.701 5.701 0 0 0 107.151 11.602 A 4.441 4.441 0 0 0 106.745 10.863 Q 106.485 10.488 106.177 10.259 A 1.759 1.759 0 0 0 105.101 9.902 Z M 102.601 57.302 L 102.301 57.302 A 7.478 7.478 0 0 0 96.814 59.676 A 11.806 11.806 0 0 0 95.451 61.352 A 14.646 14.646 0 0 0 93.48 65.743 Q 92.945 67.692 92.778 70.009 A 30.396 30.396 0 0 0 92.701 72.202 A 24.274 24.274 0 0 0 92.901 75.425 Q 93.114 77.014 93.556 78.317 A 9.822 9.822 0 0 0 94.851 80.902 Q 96.481 83.177 98.543 83.727 A 5.247 5.247 0 0 0 99.901 83.902 A 6.962 6.962 0 0 0 104.457 82.202 A 9.829 9.829 0 0 0 105.401 81.302 A 10.755 10.755 0 0 0 107.247 78.473 Q 108.163 76.482 108.601 73.802 Q 105.501 71.702 103.851 68.302 Q 102.201 64.902 102.201 61.102 A 13.463 13.463 0 0 1 102.24 60.129 Q 102.314 59.117 102.527 57.757 A 48.281 48.281 0 0 1 102.601 57.302 Z M 39.201 129.802 A 3.001 3.001 0 0 0 40.853 129.24 Q 42.578 128.1 44.498 124.648 A 35.587 35.587 0 0 0 44.901 123.902 A 34.824 34.824 0 0 0 46.613 120.014 Q 48.76 114.317 50.701 104.902 A 90.792 90.792 0 0 0 46.366 108.842 Q 42.124 112.975 39.826 116.535 A 26.897 26.897 0 0 0 39.751 116.652 Q 36.401 121.902 36.401 125.902 A 7.999 7.999 0 0 0 36.512 127.301 Q 36.949 129.746 39.101 129.801 A 3.914 3.914 0 0 0 39.201 129.802 Z" vector-effect="non-scaling-stroke"/></g></svg>
    </div>
  </div>

  <script type="text/javascript">
    var time;

    function Timer() {
      time = setTimeout(Load, 2000);
    }

    function Load() {
      console.log("Changing window");
      window.location.href = 'home';
    }
  </script>
</body>
</html>
