
<% title "Thank You" %>
<% meta_tag :description, "I am a Front-End Web Developer base in Spanish Fork Utah. Contact me if you are interested in a custom site." %>
<% meta_tag :keywords, "griffin bunnell, portfolio, portfolio site, griffin bunnells portfolio site, web freelancing, griffin bunnell welcome" %>

<body style="background: linear-gradient(to bottom right, rgba(224, 163, 109, 1),  rgba(224,24,35,1));">

  <div class="hero_section" id="top" style="margin: 0; justify-content: center;">

    <div class="hero_text" style="align-self: center; text-align: center;">
      <h1 style="margin-bottom: 25px;">Thank you,</h1>
      <h3 style="margin-bottom: 25px;">I will contact you soon!</h3>
      <a href="/home" class="button">< Back</a>
    </div>

  </div>
</body>
